<div class="container mt-4 w-50">
  <div class="container mt-5 col-auto mr-auto d-flex justify-content-center">
    <div class="col-6 my-2 mb-3">
      <form action="/filter">
        <div class="form-group">
          <select class="form-control" name="category" onchange="this.form.submit()">
            {{#each categories}}
            <option value="{{this.value}}" {{#ifEquals ../targetCategory this.value}} selected {{/ifEquals}}>
              {{this.title}}</option>
            {{/each}}
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div>
      <h5 class="mr-3">總金額:</h5>
      <h1>{{totalAmount}}</h1>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <ul class="list-group list-group-flush" style="width: 600px;">
      {{#each records}}
      <li class="list-group-item container">
        <div class="container">
          <div class="row">
            <div class="col">
              {{{ this.categoryIcon }}}
            </div>
            <div class="col-sm-4">
              <p>{{this.name}}</p>
              <p>{{this.date}}</p>
            </div>
            <div class="col">
              {{this.amount}}
            </div>
            <div class="col-auto">
              <a class="btn btn-secondary" href="./records/{{ this._id }}/edit">Edit</a>
              <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-6 my-4 text-center">
      <a href="./records/new" class="btn btn-primary">新增支出</a>
    </div>
  </div>

</div>